doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title The End of Global CSS

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section

      section
        img.avatar(src='images/profile.jpg')

      section(data-bespoke-backdrop='space')
        h2 The End
        h3 &mdash; of &mdash;
        h2 Global CSS

      section
        h3(style='font-size: 50px') &ldquo;You don&rsquo;t know CSS&rdquo;

      section
        img(style='width: 260px', src='images/creative-html-design.jpg', alt='Creative HTML Design book cover')
        h3 Purchased circ. 1999

      section(data-bespoke-backdrop='static chapter-13')

      section
        a(target='_blank', href='http://www.csszengarden.com/', style='border: 0')
          img(style='width: 500px', src='images/css-zen-garden.jpg', alt='CSS Zen Garden logo')

      section(data-bespoke-backdrop='static css-zen-garden-0')

      section(data-bespoke-backdrop='static css-zen-garden-1')

      section(data-bespoke-backdrop='static css-zen-garden-2')

      section(data-bespoke-backdrop='static css-zen-garden-3')

      section
        h2 Documents
        h3 &mdash; vs. &mdash;
        h2 Web Apps

      section
        ul
          li OOCSS
          li SMACSS
          li BEM
          li SUIT
          li Inline styles!

      section
        pre.language-css
          code.
            .Block__Element--Modifier { ... }

      section
        pre.language-markup(style='font-size: 18px')
          code.
            &lt;div class="page my-page"&gt;
              &lt;header class="header"&gt;
                &lt;h1 class="heading header__heading"&gt;...&lt;/h1&gt;
              &lt;/header&gt;
              &lt;article class="post"&gt;
                &lt;header class="post__header"&gt;
                  &lt;h1 class="heading post__heading"&gt;Hello World&lt;/h1&gt;
                &lt;/header&gt;
                &lt;section class="post__content"&gt;...&lt;/section&gt;
              &lt;/article&gt;
              &lt;footer class="footer"&gt;...&lt;/footer&gt;
            &lt;/div&gt;

      section
        img(style='width: 200px', src='images/yandex-logo.jpg')

      section
        img(style='width: 300px', src='images/bem.svg')
        br
        h2 Original BEM
        h3 &mdash; Not just style sheets &mdash;

      section
        pre.language-javascript(style='font-size: 12px')
          code.
            ({
              block: 'page',
              title: 'hello',
              head: [
                { elem: 'css', url: '_hello.css' }
              ],
              scripts: [{ elem: 'js', url: '_hello.js' }],
              mods: { theme: 'islands' },
              content: [{
                block: 'hello',
                content: [
                  {
                    elem: 'greeting',
                    content: 'Hello, %user%!'
                  }
                ]
              }]
            })

      section
        h2 The Age
        h3 &mdash; of &mdash;
        h2 Components

      section
        ul
          li Web components
          li Polymer
          li Angular&rsquo;s directives
          li React components

      section
        pre.language-jsx(style='font-size: 18px')
          code.
            import React, { Component } from 'react';

            import Header from 'Header'

            export default class MyComponent extends Component {
              render() {
                return (
                  &lt;div className="MyComponent__root"&gt;
                    &lt;Header /&gt;
                  &lt;/div&gt;
                );
              }
            }

      section
        pre.language-markup
          code.
            &lt;!-- No CSS or images required... --&gt;
            &lt;select&gt;
              &lt;option&gt;Foo&lt;/option&gt;
              &lt;option&gt;Bar&lt;/option&gt;
              &lt;option&gt;Baz&lt;/option&gt;
            &lt;/select&gt;

      section
        h2 CSS and images
        h3 &mdash; are &mdash;
        h2 private to a component

      section
        h3(style='width: 150px; text-align: left') Before:
        pre.language-javascript(style='width: 150px')
          code.
            /js
            /css
            /images
            /fonts

      section
        h3(style='width: 150px; text-align: left') After:
        pre.language-javascript(style='width: 150px')
          code.
            /components




      section
        pre.language-javascript
          code.
            /components

              /MyComponent

                MyComponent.js
                MyComponent.css
                logo.svg
                icon.svg

      section
        h3 Importing a component should be as simple as this:
        pre.language-jsx
          code.
            import MyComponent from 'components/MyComponent';

      section
        .webpack-logo
          .logo
            .cube-inner
              span.front
              span.back
              span.right
              span.left
              span.top
              span.bottom
            .cube
              span.front
              span.back
              span.right
              span.left
              span.top
              span.bottom
              span.floor
        h2 Webpack

      section
        h2 One component,<br /><br />multiple asset types&hellip;

      section
        pre.language-jsx(style='font-size: 16px')
          code.
            require('./MyComponent.css');

            import React, { Component } from 'react';

            export default class MyComponent extends Component {
              render() {
                return (
                  &lt;div className="MyComponent"&gt;
                    &lt;div className="MyComponent__Icon"&gt;Icon&lt;/div&gt;
                    ...
                  &lt;/div&gt;
                );
              }
            }

      section
        pre.language-css
          code.
            .MyComponent__Icon {
              background-image: url('icon.svg');
              background-position: 0 50%;
              background-size: fit;
              height: 50px;
            }

      section
        h2 Handling different<br /><br />file types?

      section
        h1 Loaders

      section
        ul
          li style-loader
          li css-loader
          li postcss-loader
          li less-loader
          li sass-loader
          li url-loader

      section
        pre.language-jsx(style='font-size: 16px')
          code.
            // webpack.config.js:
            loaders: [{
              test: /\.css$/,
              loader: ExtractTextPlugin.extract('style',
                      'css!postcss')
            },{
              test: /\.svg$/,
              loader: 'url?limit=10000&mimetype=image/svg+xml'
            },{
              test: /\.js$/,
              loader: 'babel',
              exclude: /node_modules/
            }]

      section
        h2 Bem
        h3 +
        h2 Components?

      section
        h2 A block
        h3 &mdash; is &mdash;
        h2 a component

      section
        h2 Only one CSS block<br /><br />per component

      section
        pre.language-jsx
          code.
            // Anything else is an import:
            import Header from 'Header';
            import Post from 'Post';
            import Footer from 'Footer';

      section
        h2 Just a convention&hellip;

      section
        pre.language-css
          code.
            .Block__Element--Modifier { ... }

      section
        h2 JavaScript used to<br /><br />be like this

      section
        pre.language-javascript
          code.
            window.NAMESPACE = window.NAMESPACE || {};

            window.NAMESPACE.Widgets = window.NAMESPACE.Widgets || {};

            window.NAMESPACE.Widgets.FooBar = function() {
              ...
            };

            // No import needed, since it's global...

      section
        h2 Luckily, this is no<br /><br />longer the case

      section
        pre.language-javascript
          code.
            // widgets/FooBar.js
            export default function() {
              ...
            };

            // Importing...
            import FooBar from 'widgets/FooBar';

      section
        h2 Is CSS<br /><br />missing<br /><br />module<br /><br />scope?

      section
        .webpack-logo
          .logo
            .cube-inner
              span.front
              span.back
              span.right
              span.left
              span.top
              span.bottom
            .cube
              span.front
              span.back
              span.right
              span.left
              span.top
              span.bottom
              span.floor

      section
        h2 <strike>Placeholders</strike><br /><br />Local Scope

      section
        pre.language-javascript
          code.
            import styles from './MyComponent.css';

      section
        h2 What does &lsquo;styles&rsquo;<br /><br />evaluate to?

      section
        pre.language-css
          code.
            :local(.foo) { ... }
            :local(.bar) { ... }

      section
        pre.language-jsx(style='font-size: 16px')
          code.
            import styles from './MyComponent.css';

            import React, { Component } from 'react';

            export default class MyComponent extends Component {
              render() {
                return (
                  &lt;div&gt;
                    &lt;div className={styles.foo}&gt;Foo&lt;/div&gt;
                    &lt;div className={styles.bar}&gt;Bar&lt;/div&gt;
                  &lt;/div&gt;
                );
              }
            }

      section
        h3(style='width: 600px; text-align: left') This:
        pre.language-css(style='width: 600px')
          code.
            :local(.foo) { ... }
            :local(.bar) { ... }
        h3(style='width: 600px; text-align: left') Compiles to this:
        pre.language-css(style='width: 600px')
          code.
            ._1rJwx92-gmbvaLiDdzgXiJ { ... }
            ._ah6Hch-gjsAdSE53CxzaEs { ... }

      section
        h3(style='width: 600px; text-align: left') Compiled CSS:
        pre.language-css(style='width: 600px')
          code.
            ._1rJwx92-gmbvaLiDdzgXiJ { ... }
            ._ah6Hch-gjsAdSE53CxzaEs { ... }
        h3(style='width: 600px; text-align: left') Exported &lsquo;styles&rsquo; object:
        pre.language-javascript(style='width: 600px')
          code.
            {
              'foo': '_1rJwx92-gmbvaLiDdzgXiJ',
              'bar': '_ah6Hch-gjsAdSE53CxzaEs'
            }

      section
        pre.language-javascript
          code.
            loaders: [
              ...
              {
                test: /\.css$/,
                loader: 'css?localIdentName=[name]__[local]'
              }
            ]

      section
        pre.language-css
          code.
            .MyComponent__foo { ... }
            .MyComponent__bar { ... }

      section
        .seek-logo

      section
        pre.language-css
          code.
            :local(.backdrop) { ... }

            :local(.root_isCollapsed .backdrop) { ... }

            :local(.field) { ... }

            :local(.field):focus { ... }

      section
        h2 &ldquo;What if locally scoped<br /><br />CSS was the default?&rdquo;

      section
        h2 &ldquo;What if we could<br /><br />write this instead?&rdquo;

      section
        pre.language-css
          code.
            .backdrop { ... }

            .root_isCollapsed .backdrop { ... }

            .field { ... }

            .field:focus { ... }

      section
        pre.language-css
          code.
            .panel :global .transition-active-enter { ... }

      section
        img(style='border: 30px solid white; width: 200px', src='images/postcss-logo.png')
        br
        h2 postcss

      section
        img(style='width: 300px', src='images/autoprefixer-logo.svg')
        br
        h2 autoprefixer

      section
        h2 postcss-local-scope
        h3 (Now deprecated)

      section(data-bespoke-backdrop='space')
        h4 SEEK UI Engineering Blog
        hr
        br
        h2 The End
        h3 &mdash; of &mdash;
        h2 Global CSS
        br
        hr
        h4 Mark Dalgleish &mdash; May 20, 2015

      section
        h2 400+ stars<br /><br />68k+ views

      section
        h3(style='width: 650px') &ldquo;I hope it&rsquo;s ok if I integrate your postcss-local-scope module into the css-loader&rdquo;
        h4 @sokra to @markdalgleish<br style='height: 20px' />May 24, 2015

      section
        h3(style='font-size: 50px') &lsquo;css-loader?module&rsquo;

      section
        h3(style='width: 650px') &ldquo;In the future, we could start generating shared classes between components automatically, treating style re-use as an optimisation at compile time.&rdquo;

      section
        h3(style='width: 600px; text-align: left') One-to-one mapping
        pre.language-javascript(style='width: 600px')
          code.
            {
              'foo': 'MyComponent__foo'
            }

      section
        h3(style='width: 600px; text-align: left') Many-to-one mapping?
        pre.language-javascript(style='width: 600px')
          code.
            {
              'foo': 'class_1 class_2 class_3'
            }

      section
        h2 <strike>extends</strike><br /><br />composes

      section
        pre.language-javascript
          code.
            .foo {
              composes: heading from 'typography.css';
              composes: box from 'layout.css';
              color: red;
            }

      section
        pre.language-css
          code.
            /* typography.css */
            .heading { ... }

            /* layout.css */
            .box { ... }

      section
        pre.language-javascript
          code.
            {
              'foo': `MyComponent__foo
                      Typography__heading
                      Layout__box`
            }

      section
        h2 Webpack lock-in?

      section
        h3(style='width: 700px') &ldquo;Have you thought about writing a standard for CSS modules that others could implement? What you&rsquo;re doing could totally fix the CSS ecosystem if it&rsquo;s widely adopted.&rdquo;
        h4 @markdalgleish to @sokra<br style='height: 20px' />May 23, 2015

      section(data-bespoke-backdrop='static initial-commit')

      section.
        <svg id="svg2" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" height="1e3" viewBox="0 0 1000 1000" width="1e3" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/">
         <g id="layer1" transform="translate(3.7129 -62.36)">
          <g id="flowRoot3336" transform="matrix(1.8595,0,0,1.8595,-30.174,333.87)">
           <path fill="#fff" stroke="none" id="path4379" d="m105.49 108.89q12.261 0 19.028 6.46 6.7676 6.46 7.5146 14.678h-8.5254q-1.4502-6.2402-5.8008-9.8877-4.3066-3.6475-12.129-3.6475-9.5361 0-15.425 6.7236-5.8447 6.6797-5.8447 20.522 0 11.338 5.2734 18.413 5.3174 7.0312 15.82 7.0312 9.668 0 14.722-7.4268 2.6807-3.9111 3.999-10.283h8.5254q-1.1426 10.195-7.5586 17.095-7.6904 8.3057-20.742 8.3057-11.25 0-18.896-6.8115-10.063-9.0088-10.063-27.817 0-14.282 7.5586-23.423 8.1738-9.9316 22.544-9.9316zm-1.7578 0z"/>
           <path fill="#fff" stroke="none" id="path4381" d="m149.04 154.37q0.30761 5.4932 2.5928 8.9209 4.3506 6.416 15.337 6.416 4.9219 0 8.9648-1.4062 7.8223-2.7246 7.8223-9.7559 0-5.2734-3.2959-7.5146-3.3398-2.1973-10.459-3.8232l-8.7451-1.9775q-8.5693-1.9336-12.129-4.2627-6.1524-4.043-6.1524-12.085 0-8.7012 6.0205-14.282 6.0205-5.5811 17.051-5.5811 10.151 0 17.227 4.9219 7.1192 4.8779 7.1192 15.645h-8.2178q-0.65918-5.1856-2.8125-7.9541-3.999-5.0537-13.579-5.0537-7.7344 0-11.118 3.252-3.3838 3.252-3.3838 7.5586 0 4.7461 3.9551 6.9434 2.5928 1.4062 11.733 3.5156l9.0527 2.0654q6.5478 1.4941 10.107 4.0869 6.1523 4.5264 6.1523 13.14 0 10.723-7.8223 15.337-7.7783 4.6143-18.105 4.6143-12.041 0-18.853-6.1523-6.8115-6.1084-6.6797-16.567h8.2178zm17.666-45.483z"/>
           <path fill="#fff" stroke="none" id="path4383" d="m208.98 154.37q0.30762 5.4932 2.5928 8.9209 4.3506 6.416 15.337 6.416 4.9219 0 8.9648-1.4062 7.8223-2.7246 7.8223-9.7559 0-5.2734-3.2959-7.5146-3.3398-2.1973-10.459-3.8232l-8.7451-1.9775q-8.5693-1.9336-12.129-4.2627-6.1523-4.043-6.1523-12.085 0-8.7012 6.0205-14.282 6.0205-5.5811 17.051-5.5811 10.151 0 17.227 4.9219 7.1191 4.8779 7.1191 15.645h-8.2178q-0.65918-5.1856-2.8125-7.9541-3.999-5.0537-13.579-5.0537-7.7344 0-11.118 3.252-3.3838 3.252-3.3838 7.5586 0 4.7461 3.9551 6.9434 2.5928 1.4062 11.733 3.5156l9.0527 2.0654q6.5479 1.4941 10.107 4.0869 6.1523 4.5264 6.1523 13.14 0 10.723-7.8223 15.337-7.7783 4.6143-18.105 4.6143-12.041 0-18.853-6.1523-6.8115-6.1084-6.6797-16.567h8.2178zm17.666-45.483z"/>
           <path fill="#fff" stroke="none" id="path4385" d="m78.063 223.14h12.524l18.545 54.58 18.413-54.58h12.393v64.556h-8.3057v-38.101q0-1.9775 0.0879-6.5478t0.0879-9.7998l-18.413 54.448h-8.6572l-18.545-54.448v1.9775q0 2.373 0.08789 7.251 0.13184 4.834 0.13184 7.1191v38.101h-8.3496v-64.556z"/>
           <path fill="#fff" stroke="none" id="path4387" d="m181.2 221.39q17.095 0 25.312 10.986 6.416 8.5693 6.416 21.929 0 14.458-7.3389 24.038-8.6133 11.25-24.565 11.25-14.897 0-23.423-9.8438-7.6025-9.4922-7.6025-23.994 0-13.096 6.5039-22.412 8.3496-11.953 24.697-11.953zm0.87891 60.381q11.558 0 16.699-8.2617 5.1856-8.3057 5.1856-19.072 0-11.382-5.9766-18.325-5.9326-6.9434-16.26-6.9434-10.02 0-16.348 6.8994-6.3281 6.8555-6.3281 20.259 0 10.723 5.4053 18.105 5.4492 7.3389 17.622 7.3389zm-0.61523-60.381z"/>
           <path fill="#fff" stroke="none" id="path4389" d="m248.09 280.23q4.4385 0 7.2949-0.92285 5.0977-1.7139 8.3496-6.5918 2.5928-3.9111 3.7354-10.02 0.65918-3.6475 0.65918-6.7676 0-11.997-4.79-18.633-4.75-6.63-15.34-6.63h-15.513v49.57h15.601zm-24.39-57.085h26.147q13.315 0 20.654 9.4482 6.5478 8.5254 6.5478 21.841 0 10.283-3.8672 18.589-6.8115 14.678-23.423 14.678h-26.06v-64.556z"/>
           <path fill="#fff" stroke="none" id="path4391" d="m297.83 223.14v39.902q0 7.0312 2.6367 11.689 3.9111 7.0312 13.184 7.0312 11.118 0 15.117-7.6025 2.1533-4.1309 2.1533-11.118v-39.902h8.877v36.255q0 11.909-3.208 18.325-5.8887 11.689-22.236 11.689-16.348 0-22.192-11.689-3.208-6.416-3.208-18.325v-36.255h8.877zm16.567 0z"/>
           <path fill="#fff" stroke="none" id="path4393" d="m353.21 223.14h8.7451v56.865h32.695v7.6904h-41.44v-64.556z"/>
           <path fill="#fff" stroke="none" id="path4395" d="m404.14 223.14h47.065v7.9102h-38.54v19.6h35.64v7.4707h-35.64v21.885h39.199v7.6904h-47.725v-64.556zm23.862 0z"/>
           <path fill="#fff" stroke="none" id="path4397" d="m469.13 266.87q0.30762 5.4932 2.5928 8.9209 4.3506 6.416 15.337 6.416 4.9219 0 8.9648-1.4062 7.8223-2.7246 7.8223-9.7559 0-5.2734-3.2959-7.5146-3.3398-2.1973-10.459-3.8232l-8.7451-1.9775q-8.5693-1.9336-12.129-4.2627-6.1523-4.043-6.1523-12.085 0-8.7012 6.0205-14.282 6.0205-5.5811 17.051-5.5811 10.151 0 17.227 4.9219 7.1191 4.8779 7.1191 15.645h-8.2178q-0.65918-5.1856-2.8125-7.9541-3.999-5.0537-13.579-5.0537-7.7344 0-11.118 3.252-3.3838 3.252-3.3838 7.5586 0 4.7461 3.9551 6.9434 2.5928 1.4062 11.733 3.5156l9.0527 2.0654q6.5479 1.4941 10.107 4.0869 6.1523 4.5264 6.1523 13.14 0 10.723-7.8223 15.337-7.7783 4.6143-18.105 4.6143-12.041 0-18.853-6.1523-6.8115-6.1084-6.6797-16.567h8.2178zm17.666-45.483z"/>
          </g>
          <rect id="rect4156" height="695.02" width="695.02" stroke="#fff" y="214.85" x="72.492" stroke-width="5" fill="none"/>
         </g>
        </svg>

      section
        h3(style='font-size: 50px') &lsquo;css-loader?modules&rsquo;

      section
        h2
          a(target='_blank', href='https://css-modules.github.io/webpack-demo/') css-modules/webpack-demo

      section
        h2 CSS Modules<br /><br />Hello World

      section
        .avatars
          img.avatar(src='images/sokra.png')
          img.avatar(src='images/profile.jpg')
          img.avatar(src='images/glenmaddern.jpg')
        .avatars
          img.avatar(src='images/joshjohnston.jpg')
          img.avatar(src='images/joshgillies.jpg')
          img.avatar(src='images/guybedford.jpg')
        h4
          a(href='https://www.github.com/css-modules', target='_blank', style='border: 0') github.com/css-modules

      section
        ul
          li Webpack
          li Browserify
          li JSPM
          li Your build tool?

      section
        div(style='margin-top: -150px; transform: translateX(6px) scale(0.3); height: 400px;').
          <svg id="svg2" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" height="1e3" viewBox="0 0 1000 1000" width="1e3" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/">
            <g id="layer1" transform="translate(3.7129 -62.36)">
            <g id="flowRoot3336" transform="matrix(1.8595,0,0,1.8595,-30.174,333.87)">
             <path fill="#fff" stroke="none" id="path4379" d="m105.49 108.89q12.261 0 19.028 6.46 6.7676 6.46 7.5146 14.678h-8.5254q-1.4502-6.2402-5.8008-9.8877-4.3066-3.6475-12.129-3.6475-9.5361 0-15.425 6.7236-5.8447 6.6797-5.8447 20.522 0 11.338 5.2734 18.413 5.3174 7.0312 15.82 7.0312 9.668 0 14.722-7.4268 2.6807-3.9111 3.999-10.283h8.5254q-1.1426 10.195-7.5586 17.095-7.6904 8.3057-20.742 8.3057-11.25 0-18.896-6.8115-10.063-9.0088-10.063-27.817 0-14.282 7.5586-23.423 8.1738-9.9316 22.544-9.9316zm-1.7578 0z"/>
             <path fill="#fff" stroke="none" id="path4381" d="m149.04 154.37q0.30761 5.4932 2.5928 8.9209 4.3506 6.416 15.337 6.416 4.9219 0 8.9648-1.4062 7.8223-2.7246 7.8223-9.7559 0-5.2734-3.2959-7.5146-3.3398-2.1973-10.459-3.8232l-8.7451-1.9775q-8.5693-1.9336-12.129-4.2627-6.1524-4.043-6.1524-12.085 0-8.7012 6.0205-14.282 6.0205-5.5811 17.051-5.5811 10.151 0 17.227 4.9219 7.1192 4.8779 7.1192 15.645h-8.2178q-0.65918-5.1856-2.8125-7.9541-3.999-5.0537-13.579-5.0537-7.7344 0-11.118 3.252-3.3838 3.252-3.3838 7.5586 0 4.7461 3.9551 6.9434 2.5928 1.4062 11.733 3.5156l9.0527 2.0654q6.5478 1.4941 10.107 4.0869 6.1523 4.5264 6.1523 13.14 0 10.723-7.8223 15.337-7.7783 4.6143-18.105 4.6143-12.041 0-18.853-6.1523-6.8115-6.1084-6.6797-16.567h8.2178zm17.666-45.483z"/>
             <path fill="#fff" stroke="none" id="path4383" d="m208.98 154.37q0.30762 5.4932 2.5928 8.9209 4.3506 6.416 15.337 6.416 4.9219 0 8.9648-1.4062 7.8223-2.7246 7.8223-9.7559 0-5.2734-3.2959-7.5146-3.3398-2.1973-10.459-3.8232l-8.7451-1.9775q-8.5693-1.9336-12.129-4.2627-6.1523-4.043-6.1523-12.085 0-8.7012 6.0205-14.282 6.0205-5.5811 17.051-5.5811 10.151 0 17.227 4.9219 7.1191 4.8779 7.1191 15.645h-8.2178q-0.65918-5.1856-2.8125-7.9541-3.999-5.0537-13.579-5.0537-7.7344 0-11.118 3.252-3.3838 3.252-3.3838 7.5586 0 4.7461 3.9551 6.9434 2.5928 1.4062 11.733 3.5156l9.0527 2.0654q6.5479 1.4941 10.107 4.0869 6.1523 4.5264 6.1523 13.14 0 10.723-7.8223 15.337-7.7783 4.6143-18.105 4.6143-12.041 0-18.853-6.1523-6.8115-6.1084-6.6797-16.567h8.2178zm17.666-45.483z"/>
             <path fill="#fff" stroke="none" id="path4385" d="m78.063 223.14h12.524l18.545 54.58 18.413-54.58h12.393v64.556h-8.3057v-38.101q0-1.9775 0.0879-6.5478t0.0879-9.7998l-18.413 54.448h-8.6572l-18.545-54.448v1.9775q0 2.373 0.08789 7.251 0.13184 4.834 0.13184 7.1191v38.101h-8.3496v-64.556z"/>
             <path fill="#fff" stroke="none" id="path4387" d="m181.2 221.39q17.095 0 25.312 10.986 6.416 8.5693 6.416 21.929 0 14.458-7.3389 24.038-8.6133 11.25-24.565 11.25-14.897 0-23.423-9.8438-7.6025-9.4922-7.6025-23.994 0-13.096 6.5039-22.412 8.3496-11.953 24.697-11.953zm0.87891 60.381q11.558 0 16.699-8.2617 5.1856-8.3057 5.1856-19.072 0-11.382-5.9766-18.325-5.9326-6.9434-16.26-6.9434-10.02 0-16.348 6.8994-6.3281 6.8555-6.3281 20.259 0 10.723 5.4053 18.105 5.4492 7.3389 17.622 7.3389zm-0.61523-60.381z"/>
             <path fill="#fff" stroke="none" id="path4389" d="m248.09 280.23q4.4385 0 7.2949-0.92285 5.0977-1.7139 8.3496-6.5918 2.5928-3.9111 3.7354-10.02 0.65918-3.6475 0.65918-6.7676 0-11.997-4.79-18.633-4.75-6.63-15.34-6.63h-15.513v49.57h15.601zm-24.39-57.085h26.147q13.315 0 20.654 9.4482 6.5478 8.5254 6.5478 21.841 0 10.283-3.8672 18.589-6.8115 14.678-23.423 14.678h-26.06v-64.556z"/>
             <path fill="#fff" stroke="none" id="path4391" d="m297.83 223.14v39.902q0 7.0312 2.6367 11.689 3.9111 7.0312 13.184 7.0312 11.118 0 15.117-7.6025 2.1533-4.1309 2.1533-11.118v-39.902h8.877v36.255q0 11.909-3.208 18.325-5.8887 11.689-22.236 11.689-16.348 0-22.192-11.689-3.208-6.416-3.208-18.325v-36.255h8.877zm16.567 0z"/>
             <path fill="#fff" stroke="none" id="path4393" d="m353.21 223.14h8.7451v56.865h32.695v7.6904h-41.44v-64.556z"/>
             <path fill="#fff" stroke="none" id="path4395" d="m404.14 223.14h47.065v7.9102h-38.54v19.6h35.64v7.4707h-35.64v21.885h39.199v7.6904h-47.725v-64.556zm23.862 0z"/>
             <path fill="#fff" stroke="none" id="path4397" d="m469.13 266.87q0.30762 5.4932 2.5928 8.9209 4.3506 6.416 15.337 6.416 4.9219 0 8.9648-1.4062 7.8223-2.7246 7.8223-9.7559 0-5.2734-3.2959-7.5146-3.3398-2.1973-10.459-3.8232l-8.7451-1.9775q-8.5693-1.9336-12.129-4.2627-6.1523-4.043-6.1523-12.085 0-8.7012 6.0205-14.282 6.0205-5.5811 17.051-5.5811 10.151 0 17.227 4.9219 7.1191 4.8779 7.1191 15.645h-8.2178q-0.65918-5.1856-2.8125-7.9541-3.999-5.0537-13.579-5.0537-7.7344 0-11.118 3.252-3.3838 3.252-3.3838 7.5586 0 4.7461 3.9551 6.9434 2.5928 1.4062 11.733 3.5156l9.0527 2.0654q6.5479 1.4941 10.107 4.0869 6.1523 4.5264 6.1523 13.14 0 10.723-7.8223 15.337-7.7783 4.6143-18.105 4.6143-12.041 0-18.853-6.1523-6.8115-6.1084-6.6797-16.567h8.2178zm17.666-45.483z"/>
            </g>
            <rect id="rect4156" height="695.02" width="695.02" stroke="#fff" y="214.85" x="72.492" stroke-width="5" fill="none"/>
            </g>
          </svg>
        h3
          a(href='https://www.github.com/css-modules', target='_blank', style='border: 0') github.com/css-modules

      section
        h2 Where to from here?

      section
        h3(style='font-size: 50px') &ldquo;CSS in the Loader Age&rdquo;
        img.avatar(src='images/glenmaddern.jpg', style='margin-bottom: 18px')
        h4 MelbJS, July 8

      section
        img.avatar(src='images/profile.jpg')

    script(src='build/build.js')
